.wrapper {
  position: relative;
}
.todos-container {
  background-color: getColor(bg-primary);
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  grid-gap: calc(#{$desired-gap} / 1.4) $desired-gap;
  overflow-y: auto;
  &::-webkit-scrollbar-thumb {
    border-radius: 0;
  }
  &::-webkit-scrollbar-track-piece {
    border-radius: 0;
  }
  padding: 30px 60px 0;
  height: 500px;
  border-bottom-left-radius: 15px;
}

.add-todo {
  cursor: pointer;
  background-color: #5785db80;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 12px;
  height: 60px;
  width: 45px;
  border-radius: 5px;
  transition: transform 100ms linear;
  &:hover {
    transform: scale(1.1);
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    @include centerByPosition();
    height: 3px;
    width: 20px;
    background-color: rgb(0, 255, 0);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
