.todo {
  flex-basis: calc(
    100% / #{$items-in-row} - (#{$desired-gap} * #{$items-in-row - 1} / #{$items-in-row})
  );
  padding: 1.6em 1.5em 1em;
  background-color: getColor(todo-bg);
  position: relative;
  border-radius: 10px;
  height: 300px;
  &-interactivity-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.7em;
    position: absolute;
    left: 2%;
    right: 2%;
    top: 2%;
    img {
      width: 20px;
      cursor: pointer;
      transition: transform 50ms linear;
      &:hover {
        transform: translate(0, -7%);
      }
    }
  }
  &-title {
    font-family: sans-serif;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.3em;
    text-decoration: underline;
  }
  &-body {
    overflow-y: hidden;
    position: relative;
    scroll-behavior: auto;
    &-expand,
    &-lower {
      font-family: sans-serif;
      font-size: 0.9rem;
      font-weight: bold;
      color: #777;
      cursor: pointer;
      text-shadow: 0 0 1px #777;
    }
    &-expand {
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: #82c3ff;
    }
  }
  &-footer {
    display: flex;
    justify-content: space-between;
    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 5px;
      width: 40%;
      background-color: #eeaeae;
      transform: translateY(-200%);
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
    span {
      font-size: 0.92rem;
      display: block;
      text-align: center;
      font-family: sans-serif;
      font-weight: bold;
    }
  }
}
