.flex-col-between {
  @include flex(space-between, $dir: column);
}

.h-100 {
  height: 100%;
}

.high-priority {
  color: red;
}
.medium-priority {
  color: rgb(255, 238, 0);
}
.low-priority {
  color: rgb(4, 0, 255);
}
