.projects-container {
  background-color: getColor(bg-primary);
  position: fixed;
  top: 15%;
  border-radius: 0 50px 50px 0;
  width: 450px;
  opacity: 0.7;
  height: 400px;
  padding: 1rem 1.5rem;
  &:hover {
    opacity: 1;
  }
}

.projects-title {
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

.projects-container-active {
  opacity: 1;
}
