*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
  scrollbar-color: #0dd0fa #3285c9;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: #0dd0fa;
  border-radius: 500px;
}

*::-webkit-scrollbar-track-piece {
  background-color: #3285c9;
  border-radius: 500px;
}

body {
  background: url(../assets/images/whale-bg.jpg) center;
  background-size: cover;
  height: 100vh;
}

.projects-container {
  background-color: #a3edfd;
  position: fixed;
  top: 15%;
  border-radius: 0 50px 50px 0;
  width: 450px;
  opacity: 0.7;
  height: 400px;
  padding: 1rem 1.5rem;
}

.projects-container:hover {
  opacity: 1;
}

.projects-title {
  font-family: sans-serif;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1.3rem;
}

.projects-container-active {
  opacity: 1;
}

.add-project-btn {
  margin-left: 1.5rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  background-color: #fff;
  position: relative;
  margin-bottom: 1.2rem;
  -webkit-transition: width 1s ease-in-out, border-radius 1s ease-in-out;
  transition: width 1s ease-in-out, border-radius 1s ease-in-out;
}

.add-project-btn::after, .add-project-btn::before {
  content: "";
  background-color: #3f2;
  width: 17px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: opacity 200ms 800ms ease-in-out;
  transition: opacity 200ms 800ms ease-in-out;
}

.add-project-btn::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.add-project-btn input {
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 0.8em;
  width: 270px;
  border: none;
  display: none;
  height: 100%;
}

.add-project-btn input:focus {
  outline: none;
}

.add-project-active {
  width: 270px;
  border-radius: 40px;
}

.add-project-active::before, .add-project-active::after {
  opacity: 0;
  -webkit-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  pointer-events: none;
}

.add-project-active input {
  display: revert;
}

.projects {
  overflow-y: auto;
  height: 265px;
  padding: 0 1.5rem;
  scrollbar-width: thin;
}

.project {
  padding: 0.5em;
  border-radius: 10px;
}

.project:hover {
  cursor: pointer;
  background-color: #5ff0dc;
}

.project:hover .project-delete-btn {
  display: inline-block;
}

.project-delete-btn {
  display: none;
  background-color: red;
  width: 16px;
  height: 16px;
  border-radius: 500px;
  position: relative;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
  margin-right: 3px;
}

.project-delete-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 8px;
  height: 3px;
  background-color: #fff;
}

.project-delete-btn:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.project-name {
  font-size: 1.3rem;
}

.project-active {
  background-color: #43c2b1 !important;
}

.project-active .project-delete-btn {
  display: inline-block;
}

.todos-section {
  position: fixed;
  top: 10%;
  right: 0%;
  width: 950px;
}

.menu-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu-btn {
  cursor: pointer;
  background-color: #fff;
  width: 70px;
  height: 53px;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-btn img {
  height: 70%;
}

.menu-btn:hover:not(.menu-btn-active) {
  -webkit-transform: scale(1.05) translateY(-2.5%);
          transform: scale(1.05) translateY(-2.5%);
}

.menu-btn-active {
  background-color: #a3edfd;
  width: 80px;
  height: 60px;
  border-bottom: 1px solid black;
}

.wrapper {
  position: relative;
}

.todos-container {
  background-color: #a3edfd;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
  padding: 30px 60px 0;
  height: 500px;
  border-bottom-left-radius: 15px;
}

.todos-container::-webkit-scrollbar-thumb {
  border-radius: 0;
}

.todos-container::-webkit-scrollbar-track-piece {
  border-radius: 0;
}

.add-todo {
  cursor: pointer;
  background-color: #5785db80;
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 12px;
  height: 60px;
  width: 45px;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

.add-todo:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.add-todo::before, .add-todo::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 3px;
  width: 20px;
  background-color: lime;
}

.add-todo::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg);
          transform: translate(-50%, -50%) rotate(90deg);
}

.todo {
  width: 250px;
  padding: 1.6em 1.5em 1em;
  background-color: #82c3ff;
  position: relative;
  border-radius: 10px;
  height: 300px;
  margin: 15px 11px;
}

.todo-interactivity-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.7em;
  position: absolute;
  left: 2%;
  right: 2%;
  top: 2%;
}

.todo-interactivity-buttons img {
  width: 20px;
  cursor: pointer;
  -webkit-transition: -webkit-transform 50ms linear;
  transition: -webkit-transform 50ms linear;
  transition: transform 50ms linear;
  transition: transform 50ms linear, -webkit-transform 50ms linear;
}

.todo-interactivity-buttons img:hover {
  -webkit-transform: translate(0, -7%);
          transform: translate(0, -7%);
}

.todo-title {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 0.3em;
  text-decoration: underline;
}

.todo-body {
  overflow-y: hidden;
  position: relative;
  scroll-behavior: auto;
}

.todo-body-expand, .todo-body-lower {
  font-family: sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
  color: #777;
  cursor: pointer;
  text-shadow: 0 0 1px #777;
}

.todo-body-expand {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #82c3ff;
}

.todo-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo-footer::before, .todo-footer::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 40%;
  background-color: #eeaeae;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
}

.todo-footer::before {
  left: 0;
}

.todo-footer::after {
  right: 0;
}

.todo-footer span {
  font-size: 0.92rem;
  display: block;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.flex-col-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  gap: 0;
}

.h-100 {
  height: 100%;
}

.high-priority {
  color: red;
}

.medium-priority {
  color: #ffee00;
}

.low-priority {
  color: #0400ff;
}
/*# sourceMappingURL=allstyles.css.map */